.ReviewWindow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1000px;
    height: fit-content;
    margin-top: 50px;
}

.Rv {
    width: 400px;
    border: 1px solid white;
    border-radius: 8px;
    padding:20px;
    margin: 15px;
}
.Info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.NameProfession {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.TextReview {
    max-width: 300px;
}

.Photo {
    width: fit-content;
    height: fit-content;
    
}