* {
    font-family: Graphik;
    font-style: normal;
    color: #FFFFFF;
}

.Body {
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}